* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(96, 16, 96);
}

.app {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 35px;
    color: green;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.btn {
    background: #fff;
    color: #225;
    font-weight: 500;
    width: 100%;
    border: 1px solid green;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.2s;
}

.btn:hover:nth-of-type([disabled]){
 background-color: #225;
 color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn {
    background-color: hotpink;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}