body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f9f9f9;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.answer-btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.answer-btn:hover {
    background-color: darkblue;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
